@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

.bg-blue-dark {
  background: #00203f;
}

.particles-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.text-justify {
  text-align: justify;
}

.background-light-white {
  background: rgba(132, 180, 199, 0.1) !important;
}

.footer {
  bottom: 0;
  left: 0;
}